* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  height: 100px;
  margin: 0 auto;
  border: 2px solid gray;
}
header {
  background-color: rgb(89, 89, 233);
  color: white;
  flex: 1 1 100%;
}
article {
  background-color: green;
  color: white;
}
